{{log 'actor-sidebar-sheet' this}}

<form class="{{cssClass}}" autocomplete="off">

  <aside>
    <div class="sidebar">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      
      <section class="flexrow">
        <ul class="attributes flexrow">

          <li class="attribute health" data-ability="end">
            <h4 class="attribute-name box-title">Endurance</h4>
            <div class="attribute-value multiple">
              <input name="system.characteristics.end.value" type="text" value="{{actor.system.characteristics.end.value}}" data-dtype="Number">
              <span class="sep"> / </span>
              <span>
                ({{actor.system.characteristics.end.max}})
              </span>
            </div>
          </li>

          <li class="attribute health" data-ability="body">
            <h4 class="attribute-name box-title">Body</h4>
            <div class="attribute-value multiple">
              <input name="system.characteristics.body.value" type="text" value="{{actor.system.characteristics.body.value}}" data-dtype="Number">
              <span class="sep"> / </span>
              <span>
                ({{actor.system.characteristics.body.max}})
              </span>
            </div>
          </li>

          <li class="attribute health" data-ability="stun">
            <h4 class="attribute-name box-title">Stun</h4>
            <div class="attribute-value multiple">
              <input name="system.characteristics.stun.value" type="text" value="{{actor.system.characteristics.stun.value}}" data-dtype="Number">
              <span class="sep"> / </span>
              <span>
                ({{actor.system.characteristics.stun.max}})
              </span>
            </div>
          </li>

        </ul>
      </section>
    </div>
  </aside>
    
  <header class="char-header sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      
    </div>
  </header>

  <nav class="sheet-navigation flexrow" data-group="primary">

    <a class="item-nav" data-tab="attacks">Attacks</a>
    <a class="item-nav" data-tab="defenses">Defenses</a>
    <a class="item-nav" data-tab="skills">Skills</a>
        
    <a class="item-nav" data-tab="maneuvers">Maneuvers</a>
    <a class="item-nav" data-tab="powers">Powers</a>
    <a class="item-nav" data-tab="equipment">Equipment</a>
    <a class="item-nav" data-tab="movement">Characteristics</a>
    <a class="item-nav" data-tab="other">Other</a>
    <a class="item-nav" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
<section class="sheet-content">
    {{!-- Attacks Tab --}}
    <div class="tab tab-body" data-group="primary" data-tab="attacks">

          {{#each items as | item |}}
          <p>{{item.name}}</p>
          {{/each}}

    
   </section>
  </section> {{!-- Sheet Body --}}

</form>