{{!-- {{log 'actor-sidebar-sheet' this}} --}}
<form class="{{cssClass}}" autocomplete="off">

    <aside>
        <div class="sidebar">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                width="100" />

            <section class="flexrow">
                <ul class="attributes flexrow">

                    <li class="attribute health" data-ability="end">
                        <h4 class="attribute-name box-title">Endurance</h4>
                        <div class="attribute-value multiple characteristic">
                            <input name="Xsystem.characteristics.end.value" type="text"
                                value="{{actor.system.characteristics.end.value}}" data-dtype="Number"
                                class="{{#if (gt actor.system.characteristics.end.value actor.system.characteristics.end.max)}}overMax{{/if}}{{#if (lt actor.system.characteristics.end.value actor.system.characteristics.end.max)}}underMax{{/if}}">
                            <span class="sep"> / </span>
                            <span>
                                ({{actor.system.characteristics.end.max}})
                            </span>
                        </div>
                    </li>

                    <li class="attribute health" data-ability="body">
                        <h4 class="attribute-name box-title">Body</h4>
                        <div class="attribute-value multiple characteristic">
                            <input name="Xsystem.characteristics.body.value" type="text"
                                value="{{actor.system.characteristics.body.value}}" data-dtype="Number"
                                class="{{#if (gt actor.system.characteristics.body.value actor.system.characteristics.body.max)}}overMax{{/if}}{{#if (lt actor.system.characteristics.body.value actor.system.characteristics.body.max)}}underMax{{/if}}">
                            <span class="sep"> / </span>
                            <span>
                                ({{actor.system.characteristics.body.max}})
                            </span>
                        </div>
                    </li>

                    <li class="attribute health" data-ability="stun">
                        <h4 class="attribute-name box-title">Stun</h4>
                        <div class="attribute-value multiple characteristic">
                            <input name="Xsystem.characteristics.stun.value" type="text"
                                value="{{actor.system.characteristics.stun.value}}" data-dtype="Number"
                                class="{{#if (gt actor.system.characteristics.stun.value actor.system.characteristics.stun.max)}}overMax{{/if}}{{#if (lt actor.system.characteristics.stun.value actor.system.characteristics.stun.max)}}underMax{{/if}}">
                            <span class="sep"> / </span>
                            <span>
                                ({{actor.system.characteristics.stun.max}})
                            </span>
                        </div>
                    </li>
                </ul>

                <ul>
                    <li title="{{defense.PDtags}}">PD={{defense.PD}}</li>
                    <li title="{{defense.rPDtags}}">rPD={{defense.rPD}}</li>
                    <li title="{{defense.EDtags}}">ED={{defense.ED}}</li>
                    <li title="{{defense.rEDtags}}">rED={{defense.rED}}</li>
                    <li title="{{defense.MDtags}}">MD={{defense.MD}}</li>
                    <li title="{{defense.rMDtags}}">rMD={{defense.rMD}}</li>
                </ul>

                <div class="sidebar-actions flexrow flex-group-center">
                    <button type="button" class="recovery-button">Take Recovery</button>
                    <button type="button" class="presence-button">Presence Attack</button>
                </div>

            </section>
        </div>
    </aside>

    <!-- TOP DIV -->
    <header class="char-header sheet-header ">
        <div class="header-fields flexrow" style="width: 100%">
            <h1 class="charname flex4"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>


            {{#if actor.system.is5e}}
            <div class="fifthEd flex0" title="5th edition character">5e</div>
            {{/if}}

            {{#if actor.system.points}}
            <div class="points flex0" title="Total Points Spent (estimate)">{{actor.system.points}}CP</div>
            {{/if}}

            {{#if actor.system.activePoints}}
            <div class="points flex0" title="Total Active Points (estimate)">{{actor.system.activePoints}}AP</div>
            {{/if}}

            <label class="upload-button flex0">
                <span>Upload&nbsp;.HDC</span>
                <input type="file" accept=".hdc" />
            </label>
        </div>
    </header>


    <!-- NAV BAR -->
    <nav class="sheet-navigation flexrow" data-group="primary">

        <a class="item-nav" data-tab="attacks">Attacks</a>
        {{#if hasMartialArts}}
        <a class="item-nav" data-tab="martialArts">MartialArts</a>
        {{/if}}
        <a class="item-nav" data-tab="defenses">Defenses</a>
        <a class="item-nav" data-tab="skills">Skills</a>

        <a class="item-nav" data-tab="maneuvers">Maneuvers</a>
        <a class="item-nav" data-tab="movement">Movement</a>
        <a class="item-nav" data-tab="powers">Powers</a>

        {{#if hasEquipment}}
        <a class="item-nav" data-tab="equipment">Equipment</a>
        {{/if}}
        <a class="item-nav" data-tab="characteristics">Characteristics</a>
        <a class="item-nav" data-tab="other">Other</a>
        {{!-- <a class="item-nav" data-tab="description">Description</a> --}}
    </nav>


    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <section class="sheet-content"> {{!-- sheet-content scrolls --}}

            {{!-- Attacks Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="attacks">

                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th>{{localize "ActorSheet.OCV"}}</th>
                        <th>{{localize "ActorSheet.DCV"}}</th>
                        <th>{{localize "ActorSheet.OffVDef"}}</th>
                        <th>{{localize "ActorSheet.Dmg"}}</th>
                        <th>{{localize "ActorSheet.Res"}}</th>
                        <th>{{localize "ActorSheet.End"}}</th>
                        <th>{{localize "ActorSheet.Aoe"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        <th>
                            <span class="item-controls">
                                <a class="item-control item-create" title="Create attack" data-type="attack"><i
                                        class="fas fa-plus"></i> Add attack</a>
                            </span>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "attack") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td>
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td>{{item.system.ocv}}</td>
                        <td>{{item.system.dcv}}</td>
                        <td>{{item.system.uses}} vs {{item.system.targets}}</td>
                        <td>{{item.system.damage}}</td>
                        <td>{{item.system.class}}</td>
                        <td>{{item.system.endEstimate}}</td>
                        {{#if (eq item.system.areaOfEffect.type "none")}}
                        <td>-</td>
                        {{/if}}
                        {{#if (ne item.system.areaOfEffect.type "none")}}
                        <td>{{item.system.areaOfEffect.type}} ({{item.system.areaOfEffect.value}})</td>
                        {{/if}}
                        <td><a class="item-image item-rollable"><i class="fas fa-dice" title="{{item.name}}" width="24"
                                    height="24"></i></a></td>
                        <td>
                            <div class="item-controls" data-group="mode">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </table>

            </div> {{!-- Attacks Tab --}}

            {{!-- MartialArts Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="martialArts">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th>{{localize "ActorSheet.Phase"}}</th>
                        <th>{{localize "ActorSheet.OCV"}}</th>
                        <th>{{localize "ActorSheet.DCV"}}</th>
                        <th>{{localize "ActorSheet.Effect"}}</th>
                        {{!-- <th>
                            <a class="item-control item-create" title="Create Martial Art" data-type="martialArt">
                                <i class="fas fa-plus"></i> Add MartialArt</a>
                        </th> --}}
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "martialart") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td>{{item.system.realCost}}</td>
                        <td>{{item.system.phase}}</td>
                        <td>{{item.system.ocv}}</td>
                        <td>{{item.system.dcv}}</td>
                        <td>{{item.system.effect}}</td>
                        <td>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- MartialArts Tab --}}


            {{!-- Defenses Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="defenses">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th class="left">{{localize "ActorSheet.Type"}}</th>
                        <th>{{localize "ActorSheet.Value"}}</th>
                        <th>{{localize "ActorSheet.Res"}}</th>
                        <th>{{localize "ActorSheet.Hard"}}</th>
                        <th>{{localize "ActorSheet.Imp"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create defense" data-type="defense">
                                <i class="fas fa-plus"></i> Add defense</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "defense") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td class="left">{{item.system.description}}</td>
                        <td>{{item.system.value}}</td>
                        <td>{{item.system.resistant}}</td>
                        <td>{{item.system.hardened}}</td>
                        <td>{{item.system.impenetrable}}</td>
                        <td>
                            <input class="item-toggle" type="checkbox" name="item.system.active" {{checked
                                item.system.active}} data-dtype="Boolean" />

                        </td>
                        <td>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>

                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- Defenses Tab --}}


            {{!-- Skills Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="skills">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th>{{localize "ActorSheet.Characteristic"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create skill" data-type="skill">
                                <i class="fas fa-plus"></i> Add Skill</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "skill") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td>{{item.system.realCost}}</td>
                        <td>{{item.system.characteristic}}</td>
                        <td>
                            <button type="button" class="item-rollable" data-roll="{{item.system.roll}}"
                                data-label="{{item._id}}">{{numberFormat item.system.roll decimals=0
                                sign=false}}-</button>
                        </td>
                        <td>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>

                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- Skills Tab --}}


            {{!-- Maneuvers Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="maneuvers">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th>{{localize "ActorSheet.Phase"}}</th>
                        <th>{{localize "ActorSheet.OCV"}}</th>
                        <th>{{localize "ActorSheet.DCV"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create maneuver" data-type="maneuver">
                                <i class="fas fa-plus"></i> Add Maneuver</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "maneuver") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td>{{item.system.phase}}</td>
                        <td>{{item.system.ocv}}</td>
                        <td>{{item.system.dcv}}</td>
                        <td>
                            <input class="item-toggle" type="checkbox" name="item.system.active" {{checked
                                item.system.active}} data-dtype="Boolean" />
                        </td>
                        <td>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- Maneuvers Tab --}}


            {{!-- Movement Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="movement">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>{{localize "ActorSheet.Max"}}</th>
                        <th>{{localize "ActorSheet.Value"}}</th>
                        <th>{{localize "ActorSheet.Velocity"}}</th>
                        <th class="right">
                            <a class="item-control item-create" title="Create movement" data-type="movement">
                                <i class="fas fa-plus"></i> Add Movement</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "movement") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td class="left">{{item.system.description}}</td>
                        <td>{{item.system.max}}</td>
                        <td>{{item.system.value}}</td>
                        <td>{{item.system.velValue}}</td>
                        <td class="right">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- Movement Tab --}}



            {{!-- Powers Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="powers">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th>{{localize "ActorSheet.End"}}</th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th></th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "power") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td>
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td>{{item.system.realCost}}</td>
                        <td>{{item.system.endEstimate}}</td>
                        <td class="left">{{item.system.description}}</td>
                        <td>
                            {{#if item.system.showToggle}}<input class="item-toggle" type="checkbox"
                                name="item.system.active" {{checked item.system.active}} data-dtype="Boolean" />
                            {{/if}}
                        </td>
                        <td>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- Powers Tab --}}


            {{!-- Equipment Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="equipment">
                <table>
                    <tr class="sticky">
                        <th>WEIGHT: {{weightTotal}}</th>
                        <th>PRICE: {{priceTotal}}</th>
                    </tr>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th>{{localize "ActorSheet.End"}}</th>
                        <th>{{localize "ActorSheet.Price"}}</th>
                        <th>{{localize "ActorSheet.Weight"}}</th>
                        <th>{{localize "ActorSheet.Carried"}}</th>
                        <th>
                            {{!-- <a class="item-control item-create" title="Create equipment" data-type="equipment">
                                <i class="fas fa-plus"></i> Add Equipment</a> --}}
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "equipment") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td class="left">{{item.system.description}}</td>
                        <td>{{item.system.realCost}}</td>
                        <td>{{item.system.end}}</td>
                        <td>{{item.system.PRICE}}</td>
                        <td>{{item.system.WEIGHT}}</td>
                        <td>
                            <input class="item-toggle" type="checkbox" name="item.system.active" {{checked
                                item.system.active}} data-dtype="Boolean" />
                        <td>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- Equipment Tab --}}


            {{!-- Characteristics Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="characteristics">
                <table>
                    <tr class="sticky">
                        <th title="{{localize " ActorSheet.ValueTitle"}}">{{localize "ActorSheet.Value"}}</th>
                        <th title="{{localize " ActorSheet.MaxTitle"}}">{{localize "ActorSheet.Max"}}</th>
                        <th title="{{localize " ActorSheet.CoreTitle"}}">{{localize "ActorSheet.Core"}}</th>
                        <th>{{localize "ActorSheet.Char"}}</th>
                        <th>{{localize "ActorSheet.Base"}}</th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        <th>{{localize "ActorSheet.Notes"}}</th>
                    </tr>
                    {{#each characteristicSet as |characteristic key|}}
                    <tr class="characteristic">
                        <td>
                            <input name="system.characteristics.{{characteristic.key}}.value" type="text"
                                value="{{characteristic.value}}" data-dtype="Number"
                                class="{{#if (gt characteristic.value characteristic.max)}}overMax{{/if}}{{#if (lt characteristic.value characteristic.max)}}underMax{{/if}}">
                        </td>
                        <td>
                            <input name="system.characteristics.{{characteristic.key}}.max" type="text"
                                value="{{characteristic.max}}" data-dtype="Number">
                        </td>
                        <td>
                            {{characteristic.core}}
                        </td>
                        <td>{{characteristic.name}}</td>
                        <td>{{characteristic.base}}</td>
                        <td>{{characteristic.realCost}}</td>

                        <td>
                            {{#if characteristic.roll}}
                            <button type="button" class="characteristic-roll" data-roll="3d6"
                                data-label="{{characteristic.key}}">{{numberFormat characteristic.roll decimals=0
                                sign=false}}-</button>
                            {{/if}}
                        </td>
                        <td>{{characteristic.notes}}</td>
                    </tr>
                    {{/each}}

                </table>

            </div> {{!-- Characteristics Tab --}}



            {{!-- Other Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="other">
                <table>
                    <tr>
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Perk"}}</th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create perk" data-type="perk">
                                <i class="fas fa-plus"></i> Add Perk</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "perk") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td>{{item.system.realCost}}</td>
                        <td class="left">{{item.system.description}}</td>
                        <td class="right">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

                <br />

                <table>
                    <tr>
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Talent"}}</th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create talent" data-type="talent">
                                <i class="fas fa-plus"></i> Add Talent</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "talent") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td>{{item.system.realCost}}</td>
                        <td class="left">{{item.system.description}}</td>
                        <td class="right">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

                <br />

                <table>
                    <tr>
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Complication"}}</th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create complication" data-type="complication">
                                <i class="fas fa-plus"></i> Add Complication</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "complication") }}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.name}}</td>
                        <td class="left">{{item.system.description}}</td>
                        <td class="right">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </table>

                <br />

                <table>
                    <tr>
                        <th></th>
                        <th class="left">{{localize "ActorSheet.ActiveEffect"}}</th>
                        <th>
                            {{!-- <a class="item-control item-create" title="Create equipment" data-type="equipment">
                                <i class="fas fa-plus"></i> Add Equipment</a> --}}
                        </th>
                    </tr>
                    {{#each actor.effects as |item key|}}
                    <tr class="item" data-item-id="{{item._id}}">
                        <td style="min-width: 24px">
                            <div class="item-image"><img src="{{item.icon}}" title="{{item.name}}" width="24"
                                    height="24" /></div>
                        </td>
                        <td class="left">{{item.label}}</td>
                        <td class="right">
                            {{!-- <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item">
                                <i class="fas fa-trash"></i>
                            </a> --}}
                        </td>
                    </tr>
                    {{/each}}

                </table>

                <br />

                <table>
                    <tr>
                        <th class="left">{{localize "ActorSheet.Biography"}}</th>
                        <th>
                            {{!-- <a class="item-control item-create" title="Create equipment" data-type="equipment">
                                <i class="fas fa-plus"></i> Add Equipment</a> --}}
                        </th>
                    </tr>

                    <tr>
                        <td class="left">
                            {{editor actor.system.biography target="system.biography" rollData=rollData
                            button=true owner=owner
                            editable=editable}}
                        </td>
                    </tr>
                </table>


            </div> {{!-- Other Tab --}}


        </section> {{!-- sheet-content --}}
    </section> {{!-- Sheet Body --}}

</form>