{{ log 'HEROSYS apply-damage-card' this }}
<div class="hero chat-card item-card toHit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
  {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>

  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
    <h3>vs {{targetToken.name}}</h3>
  </header>

  <div>
    Attacker: <span class="item-name">{{item.actor.name}}</span>
  </div>
  <div>
    Attack: <span class="item-name">{{item.name}}</span>
  </div>

  <div class="tags">
    <span class="tag">{{item.system.class}}</span>
    {{#if item.system.killing}}
      <span class="tag">killing</span>
    {{/if}}
    {{#if (ne item.system.stunBodyDamage 'stunbody')}}
        <span class="tag">{{item.system.stunBodyDamage}}</span>
    {{/if}}
    {{#if (ne item.system.areaOfEffect.type 'none')}}
        <span class="tag area-effect-tag" 
            data-aoe-type="{{item.system.areaOfEffect.type}}"
            data-aoe-value="{{item.system.areaOfEffect.value}}"
        >
            {{item.system.areaOfEffect.type}} ({{item.system.areaOfEffect.value}})
        </span>
    {{/if}}
  </div>
  <hr>
  <div class="tags">
      {{#each tags as |tag id|}}
      <span class="tag tag_transparent">{{tag.name}} +{{tag.value}}</span>
      {{/each}}
  </div>

  {{#if damageNegationValue}}
  <div class="card-section">
    <div class="damage-roll">{{{ renderedDamageRoll }}}</div>
    {{#if hasStunMultiplierRoll}}
      <div class="description-tiny">Stun Multiplier</div>
      <div class="description-tiny">{{ stunMultiplier }}X STUN MULTIPLIER</div>
    {{/if}}
    <div class="description-tiny">{{ bodyDamage }} BODY; {{ stunDamage }} STUN (after DN)</div>
  </div> 
  {{/if}}

  <div class="card-section">
    <div class="description-tiny">Defense: {{ defense }}</div>
  </div>

  <div class="card-section">
    <div class="description-tiny">Effect</div>
    <div class="description-medium">{{ bodyDamageEffective }} BODY; {{ stunDamageEffective }} STUN</div>
    <div class="description-tiny">{{ effects }}</div>
    {{#if useKnockBack}}
        <div class="hit-roll">{{{ knockbackRenderedResult }}}</div>
        <div class="description-tiny">{{ knockback }}</div>
    {{/if}}

    
  </div>

</div>