<form class="hero {{cssClass}} flexcol actor-sheet" autocomplete="off" data-id="{{item._id}}"
    data-realId="{{item.system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Perk Name" />
            </h1>
        </div>
    </header>

    <section class="sheet-body">
        <textarea placeholder="Power Description" class="power-card-power-description textarea input"
            name="system.rules">{{item.system.rules}}</textarea>

        <div class="form-group">
            <label>Base Cost plus Adders</label>
            <input type="text" name="system.basePointsPlusAdders" value="{{system.basePointsPlusAdders}}"
                data-dtype="text" disabled />
        </div>

        <div class="form-group">
            <label>Active Points</label>
            <input type="text" name="system.activePoints" value="{{system.activePoints}}" data-dtype="text" disabled />
        </div>

        <div class="form-group">
            <label>Real Cost</label>
            <input type="text" name="system.realCost" value="{{system.realCost}}" data-dtype="text" disabled />
        </div>
    </section>
</form>