{{log 'HEROSYS-EQUIPMENT ITEM' this}}
<form class="{{cssClass}}" autocomplete="off" data-id="{{item._id}}" data-realId="{{item.system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Equipment Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>Power</label>
            <input type="text" name="system.rules" value="{{system.rules}}" data-dtype="Text" disabled />
        </div>

        <div class="form-group">
            <label>Carried</label>
            <input type="checkbox" name="system.active" {{checked system.active}} data-dtype="Boolean" />
        </div>

        <div class="form-group">
            <label>Weight</label>
            <input type="text" name="system.WEIGHT" value="{{system.WEIGHT}}" data-dtype="Number" />
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="text" name="system.PRICE" value="{{system.PRICE}}" data-dtype="Number" />
        </div>

        

        {{> systems/hero6efoundryvttv2/templates/item/item-common-partial.hbs item=item }}
    </section>

</form>