<form class="{{cssClass}}" autocomplete="off" data-id="{{item._id}}" data-realId="{{item.system.realId}}">
        <header class="sheet-header flexrow">
            <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

            <div class="header-details flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Movement Name" />
                </h1>
            </div>
        </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>Type</label>
            <select name="system.class" data-dtype="text">
                {{selectOptions config.movementPowers selected=system.class}}
            </select>
        </div>

        <div class="form-group">
            <label>Max</label>
            <input type="text" name="system.max" value="{{system.max}}" data-dtype="Number" />
        </div>

        <div class="form-group">
            <label>Value</label>
            <input type="text" name="system.value" value="{{system.value}}" data-dtype="Number" />
        </div>

        <div class="form-group">
            <label>Velocity</label>
            <input type="text" name="system.velValue" value="{{system.velValue}}" data-dtype="Number" />
        </div>

        {{> systems/hero6efoundryvttv2/templates/item/item-common-partial.hbs item=item }}
    </section>
</form>
