{{log 'HEROSYS-EQUIPMENT ITEM' this}}
<form class="{{cssClass}}" autocomplete="off" data-id="{{item._id}}" data-realId="{{item.system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Equipment Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <textarea
            placeholder="Defense Description"
            class="power-card-power-description textarea input"
            name="system.rules"
        >{{system.rules}}</textarea>
    </section>
       
</form>
