{{ log 'HEROSYS ITEM MANEUVER SHEET' this }}
<form class="{{cssClass}}" autocomplete="off" data-id="{{item._id}}" data-realId="{{item.system.realId}}">
    <header class="sheet-header">
        <img class="profile-img" name="img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>Phase</label>
            <input type="text" name="system.phase" value="{{system.phase}}" data-dtype="text" />
        </div>
        <div class="form-group">
            <label>OCV Modifier</label>
            <input type="text" name="system.ocv" value="{{system.ocv}}" data-dtype="text" />
        </div>
        <div class="form-group">
            <label>DCV Modifier</label>
            <input type="text" name="system.dcv" value="{{system.dcv}}" data-dtype="text" />
        </div>
        <div class="form-group">
            <label>Effects</label>
            <input type="text" name="system.effects" value="{{system.effects}}" data-dtype="text" />
        </div>
    </section>
</form>
